
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
	font-size:20px;
	font-weight:normal;
	text-transform: uppercase;
}

h3 {

	font-size:18px;
	font-weight:normal;
	text-transform: uppercase;
}

h4 {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

section p {
	font-size:14px;
}

header {
	height: 100px;
	padding-top:25px;

}

header img {
	position: absolute;
	top: 5px;

}

header li a {
	font-size:18px;

}

header.shrink {
	height:auto;
	padding-top:0;


}

header.shrink img {
    top:10px;
}

header.shrink li a {
	font-size:inherit;

}

header.shrink .navbar-brand img {
	height: 30px;
	margin: 0;
	width: 30px;
}
.no-svg header.shrink .navbar-brand img {
	background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 0 0;
}

h1 {
	font-size:20px;
	font-weight:normal;
	text-transform: uppercase;
}


.sliderControls {
	font-size: 40px;
}

.sliderControls a {
	color:#000;
	text-decoration: none;
	font-size:75px;
}

.slideText span {font-size:50%; }


#slider-prev {
	position:absolute;
	top:200px;
	left:5%;
}

#slider-next {
	position:absolute;
	top:200px;
	right:5%;
}

#slide1 {
	background:url("../images/bgrideau.jpg") no-repeat;
	background-size: cover;

}

#slide2 {
	background:url("../images/bgbowness.jpg") no-repeat;
	background-size: cover;
}

#slide3 {
	background:url("../images/bgmapleleaf.jpg") no-repeat;
	background-size: cover;

}

.slides .col-lg-6 {
	padding:0;
}

.sliderControls a:hover {

	color:#ccc;
	text-decoration: none;
}



.jumbotron {
	padding-top:110px;
}

.jumbotron h1 {
	font-size:61px;
}

.navbar {
	background-color:#ffffff;
}

.navbar-default .navbar-nav > li > a{
	color:#999;
}

body {
	background-color:#ccc;
}

#subSliderMessage {
	background-color:#ccc;
	padding-bottom:50px;
}

#howItWorks {
	background-color:#1e84a2;
	padding-top:50px;
	padding-bottom:50px;
}

/* gallery */
#screenshots {
	background-color:#31b0d5;
	padding-top:50px;
	padding-bottom:50px;

}

#screenshots .row .col-lg-3 {
	margin-bottom: 20px;
}

#features {
	background-color:#aaaaaa;
	padding: 50px 0;
}

#pricing {
	background-color:#7fafe4;
	padding:50px 0;
}

#faq {
	background-color:#31b0d5;
	padding:50px 0;
}

#faq span {
	font-size:20px;
}

#contact {
	background-color:#f3f3f3;
	padding:50px 0;

}

footer {
	padding:25px;
}

footer ul {
	padding-left:0;


}

footer li {
	list-style-type: none;
	padding-left:0;
}

footer li i {
	margin-right: 20px;
	
}

[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
	margin-left:0 !important;
}

.error {
	display:block;
	background-color:#843534;
	color:#fff;
}

input, textarea {
	margin-bottom: 20px;
}

textarea {
    width:320px;
    height:120px;
}

.small{
	width:200px;
	height:116px;
}
.large{
	width:400px;
	height:231px;
}

#howitworksmore {

	padding:50px 0;
}

.buttonSmall {
	border: solid 1px #ccc;
	padding:10px;
	margin-top:10px;
	display:inline-block;
	background-color:#e2e2e2;
}

.fancybox-title-float-wrap .child {
	white-space: normal !important;
}