<table width="100%" border="0">
  <tr>
    <td colspan="3">
      <hr>
    </td>
  </tr>    
  <tr>
    <td colspan="3">
      <center><h2>OPERATIVE REPORT</h2></center>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Pre-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="1" name="client_preop_diag">???????? SI joint arthropathy</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Post-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="1" name="client_postop_diag">Same</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Operation:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="3" name="client_operation">??????? SacroIliac joint injection,under floroscopy</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Anesthesia:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="2" name="client_anesthesia">??????????</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Indications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="4" name="client_indications">Risks including, but not limited to, bleeding, infection, and nerve damage were discussed. The patient understands these risks and agrees to proceed.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Details of Procedure:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="15" name="client_procedure">
The patient's heart and lungs were examined and found to be normal. The patient was brought back to the fluoroscopy suite and placed in the prone position. The patient was monitored, including blood pressure, and pulse oximetry. A surgical pause was performed, and the consent was read.
&#13;&#13;
The skin over the buttocks was prepped and draped with betadine. 3cc of 1% lidocaine was injected into the skin and subcutaneous tissue. A 23-gauge spinal needle was then slowly advanced to into the caudad aspect of the ?????? sacroiliac joint, under flourocoscopic guidance. 1 cc of Isovue 240 was injected, after negative aspiration. This showed spread in the joint. There is no evidence of intravascular injection. At this point, 40 mg of triamcinolone mixed in a total volume of 5 cc of .5% plain Marcaine was used. 1 cc of the mixture was put intra-articularly; the remaining portion was injected in the surrounding capsule.
&#13;&#13;
The patient tolerated the procedure well. The patient was observed for approximately 20 minutes and discharged home in satisfactory condition.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Specimens:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_specimens">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Complications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_complications">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Referring Physician:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_findings"></textarea>

    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Notes:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_notes">The patient was instructed to call our office or report to the emergency room for fever, chills, headache, weakness or numbness in the extremities.</textarea>
    </td>
  </tr>
</table>
