<table width="100%" border="0">
  <tr>
    <td colspan="3">
      <hr>
    </td>
  </tr>    
  <tr>
    <td colspan="3">
      <center><h2>OPERATIVE REPORT</h2></center>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Pre-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="1" name="client_preop_diag">Right Lateral Femoral Nerve entrapment</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Post-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="1" name="client_postop_diag">Same</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Operation:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="3" name="client_operation">Rt Lateral Femoral Nerve injection</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Anesthesia:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="2" name="client_anesthesia">Local</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Indications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="4" name="client_indications">Marina is a 53 yo female with a long ho rt lateral thigh pain. She has had lumbar spine surgery in the past. Risks including, but not limited to, bleeding, infection, and nerve damage were discussed. The patient understands these risks and agrees to proceed.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Details of Procedure:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="15" name="client_procedure">
The patient's heart and lungs were examined and found to be normal. The patient was brought back to the fluoroscopy suite and placed in the supine position. The patient was monitored, including blood pressure, and pulse oximetry. A surgical pause was performed, and the consent was read.
&#13;&#13;
The right groin was prepped with betadine in a sterile fashion and draped. The ASIS was identified and a point 2cm's medial and 2cm's cuadal was injected with 2mls of 1% plain lidocaine. Using a 22ga blunt tipped needle, a "two pop" technique was used. A total of 10 mls of .25% marcaine and 10mg of Kenelog was injected. 
&#13;&#13;
The patient tolerated the procedure well. The patient was observed for approximately 20 minutes and then discharged home in satisfactory condition.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Specimens:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_specimens">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Complications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_complications">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Referring Physician:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_findings"></textarea>

    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Notes:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_notes">The patient was instructed to call our office or report to the emergency room for fever, chills, headache, weakness or numbness in the extremities.</textarea>
    </td>
  </tr>
</table>
