<table width="100%" border="0">
  <tr>
    <td colspan="3">
      <hr>
    </td>
  </tr>    
  <tr>
    <td colspan="3">
      <center><h2>OPERATIVE REPORT</h2></center>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Pre-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="3" name="client_preop_diag">failed back syndrome
&#13;&#13;
chronic pain syndrome</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Post-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="1" name="client_postop_diag">Same</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Operation:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="3" name="client_operation">spinal cord stimulator trial, Boston scientific</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Anesthesia:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="2" name="client_anesthesia">??????????</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Indications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="4" name="client_indications">Risks including, but not limited to, bleeding, infection, headache, and nerve damage were discussed. The patient understands these risks and agrees to proceed.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Details of Procedure:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="15" name="client_procedure">
The patient's heart and lungs were examined and found to be normal. The patient was brought back to the fluoroscopy suite and placed in the prone position. The patient was monitored, including blood pressure, ECG, and pulse oximetry. A surgical pause was performed, and the consent was read. A 25-gauge IV was placed in the left hand, and 1 g of Ancef was given incrementally. The patient was sedated as above, incrementally. The skin over the lumbar spine was prepped with Betadine in a sterile fashion and draped.
&#13;&#13;
The skin and subcutaneous tissue was anesthetized with 3 cc of 1% plain lidocaine, using an inch and a half 25-gauge needle. The 14-gauge epidural needle entered the skin just medial to the right L2 pedicle. The needle was advanced parallel to the L1 spinous process. The epidural space was entered with loss of resistance to saline technique, at the T12- L1 interlaminar space. There was no evidence of intravascular or subarachnoid injection. The 50-cm, 8 electrode lead was then slowly advanced under fluoroscopic guidance to the T8-T9 level.
&#13;&#13;
The skin and subcutaneous tissue was anesthetized with 3 cc of 1% plain lidocaine, using an inch and a half 25-gauge needle. The 14-gauge epidural needle entered the skin just medial to the left L2 pedicle. The needle was advanced parallel to the L1 spinous process. The epidural space was entered with loss of resistance to saline technique, at the T12- L1 interlaminar space. There was no evidence of intravascular or subarachnoid injection. The 50-cm, 8 electrode lead was then slowly advanced under fluoroscopic guidance to the T8-T9 level.
&#13;&#13;
???????
&#13;&#13;
The leads were sutured to the skin with a 2-0 silk using a purse string suture. Each lead was tied in two different locations. The leads were then further secured with benzoin and Steri-Strips. Bacitracin ointment was then placed on the skin entry sites. A sterile occlusive dressing was then applied.
&#13;&#13;
The patient is instructed not to take a shower until the leads are removed.
&#13;&#13;
The patient tolerated procedure well without complications. The patient was observed for approximately 60 minutes after the procedure and left in satisfactory condition. The patient was given my cell phone number and instructed to call me if any questions or issues arise. I will follow-up with the patient every few days. I plan to pull the catheters on day 5. The patient discharged home in satisfactory condition with a driver.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Specimens:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_specimens">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Complications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_complications">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Referring Physician:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_findings"></textarea>

    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Notes:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_notes">The patient was instructed to call our office or report to the emergency room for fever, chills, headache, weakness or numbness in the extremities.</textarea>
    </td>
  </tr>
</table>
