<table width="100%" border="0">
  <tr>
    <td colspan="3">
      <hr>
    </td>
  </tr>    
  <tr>
    <td colspan="3">
      <center><h2>OPERATIVE REPORT</h2></center>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Pre-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="1" name="client_preop_diag">lumbar radiculopathy</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Post-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="1" name="client_postop_diag">Same</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Operation:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="3" name="client_operation">????????? transforaminal epidural steroid injection 
&#13;&#13;
???????????? interlaminar epidural steroid injection</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Anesthesia:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="2" name="client_anesthesia">Local</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Indications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="3" name="client_indications">
Using models and diagrams, I described the technique of transforaminal epidural steroid injections and the interlaminar epidural steroid injections. Risks including, but not limited to, bleeding, infection, headache, and nerve damage were discussed. The patient understands these risks and agrees to proceed.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Details of Procedure:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="15" name="client_procedure">The patient's heart and lungs were examined and found to be normal. The patient was brought back to the fluoroscopy suite and placed in the prone position. The patient was monitored, including blood pressure, ECG, and pulse oximetry. A surgical pause was performed, and the consent was read.
&#13;&#13;
The skin over the lumbar spine was prepped with Betadine in a sterile fashion and draped. The skin and subcutaneous tissue was anesthetized with 3 cc 1% plain lidocaine, using an inch and a half, 25-gauge needle. With the C-arm in a 15 degree, rainbowed view, an 18-gauge introducer needle was slowly advanced towards the 6 o'clock position of the ??????????? pedicle. In the lateral fluoroscopic view, a 23-gauge blunt-tipped spinal needle was then slowly advanced to the anterior and cephalad aspect of the foramen. No paresthesias were obtained. In the AP view, 1 cc of Isovue-240 was then injected after negative aspiration. This showed good spread medially around the pedicle, into the epidural space. There was no evidence of intravascular or subarachnoid injection. 1 cc of 1% plain lidocaine was then injected, after negative aspiration, to rule out the possibility of intra-arterial injection. After approximately 2 to 3 minutes there was no evidence of lower extremity anesthesia. 40 milligrams of triamcinolone mixed and the total length of 3 cc per showed a free normal saline was then injected incrementally.
&#13;&#13;
The skin and subcutaneous tissue was anesthetized with 3 cc 1% plain lidocaine, using an inch and a half 25-gauge needle. Under fluoroscopic guidance, an 18-gauge touhy needle was then slowly advanced towards the ??????????????? interlaminar space. The epidural space was entered with a loss of resistance to air technique. After negative aspiration, 3 cc of Isovue 240 was then injected. This showed good spread throughout the epidural space, with no evidence of intravascular or subarachnoid injection. 40 mg of triamcinolone mixed and a total volume of 6 cc preservative-free normal saline was injected incrementally.
&#13;&#13;
The patient was observed for approximately 30 minutes and discharged home in satisfactory condition with a driver.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Specimens:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_specimens">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Complications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_complications">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Referring Physician:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_findings"></textarea>

    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Notes:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_notes">The patient was instructed to call our office or report to the emergency room for fever, chills, headache, weakness or numbness in the extremities.</textarea>
    </td>
  </tr>
</table>
