<table width="100%" border="0">
  <tr>
    <td colspan="3">
      <hr>
    </td>
  </tr>    
  <tr>
    <td colspan="3">
      <center><h2>OPERATIVE REPORT</h2></center>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Pre-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="1" name="client_preop_diag">cervical spondylosis</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Post-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="1" name="client_postop_diag">Same</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Operation:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="3" name="client_operation">???????????? third occipital nerve, C3, C4, C5, and C6 medial branch blocks, for temporary denervation of the C2-3, C3-4, C4-5, and C5-6 facet joints</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Anesthesia:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="2" name="client_anesthesia">??????????</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Indications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="4" name="client_indications">Using models and diagrams I described the technique of cervical medial branch blocks. Risks including, but not limited to, bleeding, infection, headache, ataxia, and nerve damage were discussed. The patient understands these risks and agrees to proceed.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Details of Procedure:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="15" name="client_procedure">
The patient's heart and lungs were examined and found to be normal. The patient was brought back to the fluoroscopy suite and placed in the lateral decubitus position. The patient was monitored with noninvasive blood pressure cuff, ECG, and pulse oximetry. A surgical pause was performed and the consent was read. The skin over the cervical spine was prepped with Betadine in a sterile fashion and draped.
&#13;&#13;
Under fluoroscopic guidance, the cervical articular pillars were superimposed to form trapezoid-shapes. A 25-gauge, 1.5 inch needle was then slowly advanced, under fluoroscopic guidance, to the midportion of the C3, C4, C5, and C6 articular pillars. AP and lateral views were obtained to confirm correct needle position. After negative aspiration, one half of a CC of .5% plain Marcaine was injected.
&#13;&#13;
A 25-gauge, 1.5-inch needle was then slowly advanced to the caudad border of the C2 articular pillar. AP and lateral views were obtained. After negative aspiration, one quarter of a CC of .5% plain Marcaine was injected. This same needle was then removed further caudad to overlie the C2-3 joint, and another quarter cc of .5% plain Marcaine was injected. This same needle was moved further caudad to the cephalad border of the C3 articular pillar. Another one quarter of a CC of .5% plain Marcaine was injected. With each needle repositioning and lateral views were obtained.
&#13;&#13;
The patient tolerated the procedure well without complications. The patient was observed for approximately 20 minutes and discharged home in satisfactory condition with a driver. The patient was instructed to call our office tomorrow with results of the diagnostic block.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Specimens:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_specimens">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Complications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_complications">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Referring Physician:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_findings"></textarea>

    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Notes:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_notes">The patient was instructed to call our office or report to the emergency room for fever, chills, headache, weakness or numbness in the extremities.</textarea>
    </td>
  </tr>
</table>
