<table width="100%" border="0">
  <tr>
    <td colspan="3">
      <hr>
    </td>
  </tr>    
  <tr>
    <td colspan="3">
      <center><h2>OPERATIVE REPORT</h2></center>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Pre-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="3" name="client_preop_diag">lumbar spondylosis
&#13;&#13;
lumbar facet joint arthropathy</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Post-op. Diagnosis:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="1" name="client_postop_diag">Same</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Operation:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"><li></li></td>
    <td>
      <textarea cols="120" rows="3" name="client_operation">??????????L3, L4 medial branch and ????????? L5 primary dorsal ramus block</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Anesthesia:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="2" name="client_anesthesia">??????????</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Indications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="4" name="client_indications">Using models and diagrams I described the technique of medial branch blocks. Risks including, but not limited to, bleeding, infection, headache, and nerve damage were discussed. The patient understands these risks and agrees to proceed.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Details of Procedure:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="15" name="client_procedure">
The patient's heart and lungs were examined and found to be normal. The patient was brought back to the fluoroscopy suite and placed in the prone position. The patient was monitored with noninvasive blood pressure cuff, ECG, and pulse oximetry. A surgical pause was performed and the consent was read. 
The skin over the lumbar spine was prepped with Betadine in a sterile fashion and draped. 
&#13;&#13;
The skin and subcutaneous tissue was anesthetized with 3 cc of 1% plain lidocaine, using an inch and a half 25-gauge needle. Under fluoroscopic guidance, a 23-gauge spinal needle was slowly advanced to the junction of the ????????? S1 superior articular process and sacral ala. AP and lateral views were used to confirm. After negative aspiration, three quarters of 1 cc of .5% plain Marcaine was injected. 
&#13;&#13;
The skin and subcutaneous tissue was anesthetized with 3 cc of 1% plain lidocaine, using an inch and a half 25-gauge needle. Under fluoroscopic guidance, a 23-gauge spinal needle was slowly advanced to the junction of the ????????? L5 superior articular process and transverse process. AP and lateral views were obtained to confirm correct position. After negative aspiration, three quarters of 1 cc of .5% plain Marcaine was injected. 
&#13;&#13;
The skin and subcutaneous tissue was anesthetized with 3 cc of 1% plain lidocaine, using an inch and a half 25-gauge needle. Under fluoroscopic guidance, a 23-gauge spinal needle was slowly advanced to the junction of the ????????? L4 superior articular process and transverse process. AP and lateral views were obtained to confirm correct position. After negative aspiration, three quarters of 1 cc of .5% plain Marcaine was injected. 
&#13;&#13;
The patient was observed for approximately 20 minutes and discharged home in satisfactory condition with a driver. There were no complications. The patient was instructed to call our office tomorrow with results of the diagnostic block.</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Specimens:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_specimens">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Complications:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="1" name="client_complications">None</textarea>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Referring Physician:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_findings"></textarea>

    </td>
  </tr>
  <tr>
    <td colspan="3">
      <b>Notes:</b>
    </td>
  </tr>
  <tr>
    <td width="3"></td>
    <td width="2"></td>
    <td>
        <textarea cols="120" rows="5" name="client_notes">The patient was instructed to call our office or report to the emergency room for fever, chills, headache, weakness or numbness in the extremities.</textarea>
    </td>
  </tr>
</table>
