#main { width:896px; margin:30px auto; text-align:left;}

#header {height:337px;}

#footer { height:270px;}

.column-1, .column-2, .col-1, .col-2, .col-3, .col-4, .col-5{float:left;}
.container {width:100%; overflow:hidden;}

#boxes .col-1{ width:170px;}
#boxes .col-2{ width:170px;}
#boxes .col-3{ width:170px;}
#boxes .col-4{ width:170px;}
#boxes .col-5{ width:170px;}

#footer .col-1{ width:204px;}
#footer .col-2{ width:204px;}
#footer .col-3{ width:204px;}
#footer .col-4{ width:204px;}

/* ============================= page1 ===========================*/
#page1 .column-1{ width:260px;}
#page1 .column-2{ width:500px;}
#page1 .line{ background:url(line.gif) repeat-y 290px 0;}
#page1 #content .col-1{ width:209px;}
#page1 #content .col-2{ width:267px;}

/* ============================= page2 ===========================*/
#page2 .column-1{ width:260px;}
#page2 .column-2{ width:494px;}
#page2 .line{ background:url(line.gif) repeat-y 290px 0;}
#page2 #content .col-1{ width:225px;}
#page2 #content .col-2{ width:223px;}

/* ============================= page3 ===========================*/
#page3 .column-1{ width:260px;}
#page3 .column-2{ width:500px;}
#page3 .line{ background:url(line.gif) repeat-y 290px 0;}
#page3 #content .col-1{ width:223px;}
#page3 #content .col-2{ width:223px;}

/* ============================= page4 ===========================*/
#page4 .column-1{ width:500px;}
#page4 .column-2{ width:260px;}
#page4 .line{ background:url(line.gif) repeat-y 533px 0;}
#page4 #content .col-1{ width:223px;}
#page4 #content .col-2{ width:223px;}

/* ============================= page5 ===========================*/
#page5 .column-1{ width:260px;}
#page5 .column-2{ width:494px;}
#page5 .line{ background:url(line.gif) repeat-y 290px 0;}
#page5 #content .col-1{ width:225px;}
#page5 #content .col-2{ width:223px;}
