/* CSS Document */

* {	margin:0; padding:0; font-size:100%;}

body{background:#FFFFFF; text-align:center;}
.top-tail{ background:url(top-tail.gif) top repeat-x #dedede;}
.bot-tail{ background:url(bot-tail.gif) bottom repeat-x;}
#main{ padding:23px 39px 0 45px; background-color:#fff;   }
#main table tr.even { background-color:#6666cc;}
#main table tr.odd { background-color:#9999cc;}
#main table tr td {white-space: nowrap;}

img {vertical-align:top;}
a img { border:0;}

ul { list-style:none;}

.left { float:left;}
.right {float:right;}
.clear  { clear:both;}


html{ font-family:Arial, Helvetica, sans-serif; font-size:0.75em; line-height:1.333em; color:#000;}

input, select { vertical-align:middle; font-weight:normal;}

a {color:#fff;}
a:hover{text-decoration:none;}
.email{ color:#9d9d9d;}
p {padding-top:16px;}
strong{ display:block; color:#4e6aa2;}
.strong1{ color:#3b5283;}
cite{ font-style:normal; display:block; text-align:justify;}

h1 { font-size:24px; margin-bottom:15px; margin-top:15px; }
h2 { font-size:20px; margin-bottom:15px; margin-top:15px; }
.subheading { background-color: #ccc; color:#fff; }

/* forms */
textarea { font-size:12px; color:#000; font-family:Arial, Helvetica, sans-serif;}
.frmLabel {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}

/* ============================= main layout ====================== */
.imgindent {margin:0 20px 0 0; float:left;}
.phone{ float:right; padding-right:93px;}
.phone2{ float:right; padding-right:30px;}
.margin1{ margin-top:20px;}
.margin2{ margin-top:-10px !important;}
.padding1{ padding-bottom:8px;}
.padding2{ padding-top:9px;}
.padding3{ padding-top:13px;}
.padding4{ padding-top:20px;}

/* ============================= header ====================== */
#header{ background:#ffffff;}
#header .top{ background:url(top-tail-bg.gif) top repeat-x;}
#header .top .left-bg{ background:url(top-left-bg.gif) left top no-repeat;}
#header .top .right-bg{ background:url(top-right-bg.gif) right top no-repeat; height:80px;}
#header .menu{ float:right; padding:37px 5px 0 0;}
#header .menu li{ float:left; background:url(menu-item-border.gif) no-repeat right top; padding:0 11px;}
#header .menu .last{ background:none;}
#header .logo{ padding:0px 0 0 36px;}
.header-text{ background:url(header-bg.jpg) no-repeat 13px 13px; height:257px;}
#header .slogan{ padding:48px 0 0 54px;}
#header .links{ padding:11px 0 0 54px;}
#header .links a{ margin-right:8px;}

/* Nav */
.nav { padding-top:75px; background:url("header.jpg") right top repeat-x #333366; }
.nav ul { width:100%; margin-top:3px; }
.nav li { float:left;padding:0;}
.nav a { text-decoration:none; font-size:14px; display:block; padding: 3px 10px; }
.nav a:hover { background-color:#ccc; }




/* ============================= boxes ====================== */
#boxes{ background:#ffffff; padding:5px 10px 0 13px;}
#boxes .col-2, #boxes .col-3, #boxes .col-4, #boxes .col-5{ margin-left:5px;}

.box .left-top{ background:url(box-corner-left-top.gif) left top no-repeat;}
.box .right-top{ background:url(box-corner-right-top.gif) right top no-repeat;}
.box .left-bot{ background:url(box-corner-left-bot.gif) left bottom no-repeat;}
.box .right-bot{ background:url(box-corner-right-bot.gif) right bottom no-repeat;}
.box .indent{ padding:2px 16px 2px 16px; text-align:center;}

.box .title{ padding-bottom:14px;}
.box strong{ color:#232323;}

.link1{ display:inline-block; color:#ffffff; text-decoration:none; margin-top:8px; font-weight:bold;}
.link1 span{ display:block; padding:5px 34px 6px 33px;}

#boxes .col-1 .link1{ background:url(link1-corner-left.gif) left top no-repeat #68487c;}
#boxes .col-1 .link1 span{ background:url(link1-corner-right.gif) right top no-repeat;}
#boxes .col-1 .link1:hover{ background:url(link1-corner-left-act.gif) left top no-repeat #492e5c;}
#boxes .col-1 .link1:hover span{ background:url(link1-corner-right-act.gif) right top no-repeat;}

#boxes .col-2 .link1{ background:url(link2-corner-left.gif) left top no-repeat #51487c;}
#boxes .col-2 .link1 span{ background:url(link2-corner-right.gif) right top no-repeat;}
#boxes .col-2 .link1:hover{ background:url(link2-corner-left-act.gif) left top no-repeat #352e5c;}
#boxes .col-2 .link1:hover span{ background:url(link2-corner-right-act.gif) right top no-repeat;}

#boxes .col-3 .link1{ background:url(link3-corner-left.gif) left top no-repeat #455c7f;}
#boxes .col-3 .link1 span{ background:url(link3-corner-right.gif) right top no-repeat;}
#boxes .col-3 .link1:hover{ background:url(link3-corner-left-act.gif) left top no-repeat #2c3e5f;}
#boxes .col-3 .link1:hover span{ background:url(link3-corner-right-act.gif) right top no-repeat;}

#boxes .col-4 .link1{ background:url(link4-corner-left.gif) left top no-repeat #447a80;}
#boxes .col-4 .link1 span{ background:url(link4-corner-right.gif) right top no-repeat;}
#boxes .col-4 .link1:hover{ background:url(link4-corner-left-act.gif) left top no-repeat #2b5a60;}
#boxes .col-4 .link1:hover span{ background:url(link4-corner-right-act.gif) right top no-repeat;}

#boxes .col-5 .link1{ background:url(link5-corner-left.gif) left top no-repeat #487c52;}
#boxes .col-5 .link1 span{ background:url(link5-corner-right.gif) right top no-repeat;}
#boxes .col-5 .link1:hover{ background:url(link5-corner-left-act.gif) left top no-repeat #2e5c36;}
#boxes .col-5 .link1:hover span{ background:url(link5-corner-right-act.gif) right top no-repeat;}

/* ============================= content ====================== */
#content{ background:#ffffff;}
#content .indent{ padding:33px 30px 17px 36px;}
#content .indent2{ padding:46px 30px 40px 36px;}
.column-2{ margin-left:67px;}
.line{ padding:13px 0;}
.unline{ background:url(line.gif) bottom repeat-x; padding-bottom:38px; margin-bottom:35px;}
.space1{ margin-left:21px;}
.space2{ margin-left:40px;}
#content .title{ padding-bottom:20px;}

.list{ margin-top:-5px;}
.list li{ font-size:1.167em; line-height:2em; background:url(list-marker.gif) no-repeat 0 7px; padding-left:19px;}

.link{ display:inline-block; margin-top:10px; color:#4e6aa2; text-decoration:none; font-weight:bold; background:url(link-left-bg.gif) left top no-repeat #dcdcdc; float:right;}
.link span{ display:block; padding:3px 7px 4px 10px; background:url(link-right-bg.gif) right top no-repeat;}
.link:hover{ background:url(link-left-bg-act.gif) left top no-repeat #bebebe;}
.link:hover span{ background:url(link-right-bg-act.gif) right top no-repeat;}

.link2{ display:inline-block; margin-top:12px; color:#ffffff; text-decoration:none; font-weight:bold; background:url(link2-left-bg.gif) left top no-repeat #4e6aa2; float:right;}
.link2 span{ display:block; padding:3px 7px 4px 10px; background:url(link2-right-bg.gif) right top no-repeat;}
.link2:hover{ background:url(link2-left-bg-act.gif) left top no-repeat #283e79;}
.link2:hover span{ background:url(link2-right-bg-act.gif) right top no-repeat;}

/* ============================= footer ====================== */
#footer{ background:#ffffff; border-top:solid 1px #ccc;}
#footer .title{ padding:0 0 10px 9px;}
#footer .imgindent{ margin:0 13px 0 0; float:left;}
#footer .col-2, #footer .col-3, #footer .col-4{ margin-left:5px;}

#footer .box .indent{ padding:26px 13px 22px 27px; text-align:left;}

#footer .box1{ background:url(footer-box1-border.gif) top repeat-x #ffffff; width:100%;}
#footer .box1 .left-border{ background:url(footer-box1-border.gif) left repeat-y;}
#footer .box1 .right-border{ background:url(footer-box1-border.gif) right repeat-y;}
#footer .box1 .bot-border{ background:url(footer-box1-border.gif) bottom repeat-x;}
#footer .box1 .left-top{ background:url(footer-box1-corner-left-top.gif) left top no-repeat;}
#footer .box1 .right-top{ background:url(footer-box1-corner-right-top.gif) right top no-repeat;}
#footer .box1 .left-bot{ background:url(footer-box1-corner-left-bot.gif) left bottom no-repeat;}
#footer .box1 .right-bot{ background:url(footer-box1-corner-right-bot.gif) right bottom no-repeat; height:100px;}
#footer .box1 .indent{ padding:9px 13px 14px 10px;}

#footer .col-1 .box1{ color:#51487c;}
#footer .col-2 .box1{ color:#455c7f;}
#footer .col-3 .box1{ color:#447a80;}
#footer .col-4 .box1{ color:#487c52;}

#footer .box1 a{ display:block; float:right; margin-top:5px; font-weight:bold;}
#footer .button{ position:absolute; margin:14px 0 0 835px;}

#footer .menu{ float:right; font-size:1.167em; color:#3b5283; padding:18px 15px 0 0;}
#footer .menu li{ float:left; padding-left:20px;}
#footer .menu a{ color:#3b5283; margin-right:20px; text-decoration:none;}
#footer .menu a:hover{ text-decoration:underline;}

#footer .text{ color:#232323; font-size:1.167em; text-align:right; padding:12px 36px 0 0;}
#footer .text a{ text-decoration:none;}
#footer .text a:hover{ text-decoration:underline;}

#main td.smaller { width:81px; min-width:81px; }

/* Client Search */
.client td { min-width:188px; padding:5px;}

/* Client Tabs */
.client-tabs { padding-left:10px;}
.client-tabs strong { color:#fff; }
.client-tabs a { text-decoration:none;}
.client-tabs a:hover { text-decoration:underline;}


/* Medlog */
.medlog-add td { vertical-align:top;}

/* Doctors */
.doc-list td { min-width:255px; padding:5px;}

/* Pharmacy */
.pharmacy td { min-width:148px; padding:5px;}

/* Insurance */
.insurance td { min-width:148px; padding:5px;}

